.main-section{
  background-color: rgb(243, 243, 243);
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
} 
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainimg{
  margin-top: 45px;
  width: 940px;
  border: none;
  border-radius: 10px;
}
.s2d-main-info{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.s2d-info-container{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 940px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}
.container-contain{
  display: flex;
  
}
.blue-border{
  width:5px;
  height: 120px;
  margin-left:30px ;
  background-color: rgb(55,112,255);
}
.s2d-info{
  display: flex;
  flex-direction: column;
}
.s2d-info div{
  margin-left:20px ;
  padding-top: 3px;
}
.date,.venue{
  font-size: 17px;
  font-family: "Roboto";
  font-weight: bolder;
}
.date{
  padding-bottom: 20px;
}
.venue{
  letter-spacing: 2px;
}
.runs,.happening{
  font-size: 15px;
  font-weight: 900;
  font-family: "Roboto";
  color: rgb(189, 183, 183);
  letter-spacing: 2px;
}
.Application{
  display: flex;
  flex-direction: column;
 

}
 
.about{
  width: 940px;
}
.about p{
  font-weight: 350;
  font-family: "Roboto";
  font-size: 20px;
}
ul{
  margin-left: 0px;
  font-size:23px ;
}
li{
  margin-left: 20px;
  font-size: 20px;
}
.Application{
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
}  
.text{
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold;
}
.Register{
  padding-bottom: 10px;
}
.Register button{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-size: 20px;
  background-color: rgb(196, 179, 179);
  border: none;
  border-radius: 20px;
  color: white;

}
.projects{
  background-color:rgb(55,112,255) ;
  color: white;
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
}